@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
.main{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:10px solid rgb(90, 11, 11);
    width: 40rem;
    height: 20rem;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: gold;
}
.main h1{
    color: rgb(90, 11, 11);
}
.main .no{
    width:14rem;
    height:4rem;
    margin: 1rem;
    outline: none;
    background-color: yellow;
    color: black;
    border: 2px solid rgb(90, 11, 11);
    font-family: 'Poppins',sand-serif;
    font-size: large;
    font-weight: 700;
    padding: 10px;
    transition: 0.3s linear;
}
.main .Calculate{
    width: 6rem;
    height: 2rem;
    background-color: rgb(90, 11, 11);
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    transition: 0.3s linear;
}
.main .Calculate:hover{
    background-color: transparent;
    color: rgb(90, 11, 11);
    border: 2px solid rgb(90, 11, 11);
}
.main .no:hover{
    background-color: rgb(225, 225, 46);
}
.main .output{
    border: 2px solid rgb(90, 11, 11);
    margin-top: 12px;
    width: 12rem;
    height: 3rem;
    background-color: #fff;
    transition: 0.3s linear;
    color: black;
    padding: 4px;
    font-family:'Poppins',sand-serif;;
}
.main .output:hover{
    background-color: rgba(206, 206, 206, 0.926);
}
@media(max-width:1024px){
    .main{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 30rem;
        margin-top: 9rem;
        font-family: 'Poppins',sand-serif;
    }
    .main h1{
        font-size: 1.5rem;
        text-align: center;
    }
}